<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.;Initial Catalog=CaileGame;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileCoupons" connectionString="Server=.;Initial Catalog=CaileCoupons;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileSystem" connectionString="Server=.;Initial Catalog=CaileSystem;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--短信发送接口 开始-->
    <add key="SMSAPPLYID" value="" />
    <add key="SMSSECRET" value="" />
    <add key="SMSURL" value="" />
    <!--最大中奖金额提醒-->
    <add key="MaxWinMoneyNotice" value="100000" />
    <!--接口余额预警提醒-->
    <add key="InterfaceMoneyWarning" value="500000"/>
    <!--预注册账号预警提醒-->
    <add key="REGWAWNING" value="500"/>
    <!--提醒号码-->
    <add key="NOTICETEL" value=""/>
    <!--是否接口读取开奖数据(电子票接口)-->
    <add key="IsInterface" value="True"/>
    <!--获取代理地址(大象网)-->
    <add key="PROXYURL" value=""/>

  </appSettings>
</configuration>