<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!--应用热更配置信息-->
    <add key="APPLY" value="C:\ApplyConfig.xml" />
    <!--接口配置-->
    <add key="INTERFACECONFIG" value="/Config/Interface.xml" />
    <!--日提现次数限制-->
    <add key="WITHDRAWCOUNT" value="3" />
    <!--次提现金额限制-->
    <add key="WITHDRAWMONEY" value="1000" />
    <!--系统配置-->
    <add key="CONFIGPATH" value="/Config/site.config" />
    <!--注册送彩券配置(临时配置)-->
    <!--活动id-->
    <add key="KEYACTIVITYID" value="14" />
    <!--赠送金额-->
    <add key="KEYAMOUNT" value="900" />
    <!--使用场景-->
    <add key="KEYLOTTERYCODE" value="0" />
    <!--有效日期(天)-->
    <add key="KEYDAY" value="3" />
    <!--保存图片物理地址-->
    <add key="ICON" value="D:\IIS_Publish\Images\" />
    <!--保存图片的HTTP访问地址-->
    <add key="ICONHOSTURL" value="http://127.0.0.1:10010/" />
    <!--分享人赠送金额-->
    <add key="KEYUAMOUNT" value="100" />
    <!--是否推送到IOS生产环境-->
    <add key="RESETOPTIONSAPNSPRODUCTION" value="false" />
    <!--新闻配置部分-->
    <add key="LOTNEWSTOP" value="10" />
    <add key="NEWSTYPEID" value="10003" />
    <add key="LOOKNEWSURL" value="" />
    <add key="LOOKTOPNEWS" value="3" />
    <!--客户端约定密钥-->
    <add key="SECRET" value="" />


    <!--长连接登录地址-->
    <add key="IMURL" value="http://127.0.0.1/" />
    <add key="IMLOGINSWITCH" value="true" />
    <!--极光推送-->
    <add key="JIGUANGAPPKEY" value="" />
    <add key="JIGUANGMASTERSECRET" value="" />
    <!--QQ集成登录-->
    <add key="OAUTHQQAPPID" value="" />
    <add key="OAUTHQQAPPKEY" value="" />
    <add key="OAUTHQQREDIRECTURL" value="http://openapi.tencentyun.com" />
    <!--微信集成登录-->
    <add key="OAUTHWECHATAPPID" value="" />
    <add key="OAUTH_WECHATAPPSECRET" value="" />
    <add key="OAUTHWECHATREDIRECTURL" value="http://openapi.tencentyun.com" />
    <!--短信发送接口 开始-->
    <add key="SMSAPPLYID" value="" />
    <add key="SMSSECRET" value="" />
    <add key="SMSURL" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.;Initial Catalog=CaileGame;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileCoupons" connectionString="Server=.;Initial Catalog=CaileCoupons;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileSystem" connectionString="Server=.;Initial Catalog=CaileSystem;uid=sa;pwd=147852369;Pooling=true;MAX Pool Size=256;Min Pool Size=1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
</configuration>
