<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Connection_CaileUnion" connectionString="Server=182.92.104.230,15433;Initial Catalog=CaileUnion;uid=sroot;pwd=cubbs1a0.Za;Pooling=true;MAX Pool Size=520;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=182.92.104.230,15433;Initial Catalog=CaileGame;uid=sroot;pwd=cubbs1a0.Za;Pooling=true;MAX Pool Size=520;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileCoupons" connectionString="Server=182.92.104.230,15433;Initial Catalog=CaileCoupons;uid=sroot;pwd=cubbs1a0.Za;Pooling=true;MAX Pool Size=520;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileSystem" connectionString="Server=182.92.104.230,15433;Initial Catalog=CaileSystem;uid=sroot;pwd=cubbs1a0.Za;Pooling=true;MAX Pool Size=520;Min Pool Size=1;" providerName="System.Data.SqlClient" />
    <add name="Connection_CaileMiniGame" connectionString="Server=182.92.104.230,15433;Initial Catalog=CaileMiniGame;uid=sroot;pwd=cubbs1a0.Za;Pooling=true;MAX Pool Size=520;Min Pool Size=1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--彩券计时配置 每天12点触发-->
    <add key="quartz_coupons" value="0 0 12 * * ?"/>
    <add key="quartz_glottery" value="0/1 * * * * ?"/>
    <add key="quartz_dlottery" value="* 0/1 * * * ?"/>
    <add key="quartz_rebate" value="0 0 3 * * ?"/>
    <add key="quartz_settlement" value="0 0 3 * * ?"/>
    <add key="quartz_settlement_moth" value="0 0 3 01 * ?"/>

    <!--定时清理垃圾-->
    <add key="quartz_gc" value="0 0/30 * * * ?"/>
    <!--彩种编号-->
    <add key="g_LotteryCodes" value="40010,40020"/>
    <add key="d_LotteryCodes" value=""/>
    <!--长连接登录地址-->
    <add key="IMURL" value="http://162.251.20.37:28901/" />
    <!--极光推送-->
    <add key="JIGUANGAPPKEY" value="eae006cf4fdace5cebc186f6" />
    <add key="JIGUANGMASTERSECRET" value="42a18131050574f79ba9d309" />
  </appSettings>
</configuration>
