<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname></webname>
  <weburl></weburl>
  <webcompany></webcompany>
  <webaddress></webaddress>
  <webtel></webtel>
  <webfax>-</webfax>
  <webmail>info@caile.net</webmail>
  <webcrod>粤ICP备000000号</webcrod>

  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>

  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,json</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>后台管理</watermarktext>
  <watermarkfont>CL.CP</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>

  <!--邮箱配置-->
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom></emailfrom>
  <emailusername></emailusername>
  <emailpassword></emailpassword>
  <emailnickname></emailnickname>


</SiteConfig>